# Files excluded manually
Software/STM32F103RBTx/STM32F103RBTx_FLASH.ld linguist-vendored

#
# Folder/file matching for those files is a joke.
# Finally I made it using brute-force script:
# ls -lDR | grep ':$' | grep -e Middlewares -e Core -e FATFS -e CMSIS -eSTM32F1xx_HAL_Driver -e ST7735 | sed 's/:/\/* linguist-vendored/g' | sed 's/\.\///g'
#
Software/STM32F103RBTx/Core/* linguist-vendored
Software/STM32F103RBTx/Core/Inc/* linguist-vendored
Software/STM32F103RBTx/Core/Src/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/ST/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/ST/STM32F1xx/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/ST/STM32F1xx/Include/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/ST/STM32F1xx/Source/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Device/ST/STM32F1xx/Source/Templates/* linguist-vendored
Software/STM32F103RBTx/Drivers/CMSIS/Include/* linguist-vendored
Software/STM32F103RBTx/Drivers/STM32F1xx_HAL_Driver/* linguist-vendored
Software/STM32F103RBTx/Drivers/STM32F1xx_HAL_Driver/Inc/* linguist-vendored
Software/STM32F103RBTx/Drivers/STM32F1xx_HAL_Driver/Inc/Legacy/* linguist-vendored
Software/STM32F103RBTx/Drivers/STM32F1xx_HAL_Driver/Src/* linguist-vendored
