services:
  dev:
    image: ${DOCKER_IMAGE:-logger-dev:latest}
    build:
      context: .
      dockerfile: DevOps/Dockerfile
    privileged: true
    command: >
      bash -c "
      pip install -e /workspace/Software/STM32F103RBTx/Application/Driver/Host/Python/ &&
      exec bash
      "
    environment:
      - DISPLAY=:0
      - WAYLAND_DISPLAY=wayland-0
      - XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
      - PULSE_SERVER=/mnt/wslg/PulseServer
      - QT_X11_NO_MITSHM=1
      - QT_QPA_PLATFORM=xcb
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /mnt/wslg:/mnt/wslg
      - ./Software:/workspace/Software
      - ./FirmwarePCSimulator/:/workspace/FirmwarePCSimulator/
      - ./IntegrationTest:/workspace/IntegrationTest
      - ./DevOps/BuildArtifacts:/workspace/build/BuildArtifacts
      - ./DevOps/Scripts:/workspace/DevOps/Scripts
      - ./DevOps/Cmake:/workspace/DevOps/Cmake
      - ./CMakeLists.txt:/workspace/CMakeLists.txt
    working_dir: /workspace
    stdin_open: true
    tty: true
