services:
  dev:
    image:  logger-dev:latest 
    build:
      context: .
      dockerfile: DevOps/Dockerfile
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}   # Forward the host's display
    stdin_open: true  # Keep stdin open for interaction
    tty: true         # Allocate a TTY for interactive Bash
    volumes:
      - ./Software:/workspace/Software
      - ./Simulation:/workspace/Simulation
      - ./Test:/workspace/Test
      - ./DevOps/BuildArtifacts:/workspace/build/BuildArtifacts
      - ./CMakeLists.txt:/workspace/CMakeLists.txt
      - /tmp/.X11-unix:/tmp/.X11-unix   # Mount X server socket
    working_dir: /workspace
    # Do not override the CMD from Dockerfile

