name: CI Pipeline

on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main

jobs:
  # Step 1: Build Docker image and push to registry
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    timeout-minutes: 360  # Increase to 6 hours (the max for hosted runners)
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: DevOps/Dockerfile
          push: true
          tags: |
            ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
            ghcr.io/robertgawron/hardwaredatalogger:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

  # Parallel Jobs: Unit Tests, Code Coverage, etc.
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run Unit Tests
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make test_biz && make test_dev && make test_drv"
        
      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down

  system-tests:
    name: Run System Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run System Tests
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace/build/ && cmake .. && make -j24 && cd /workspace/Test/System && pytest test_*.py -s  --html=/workspace/build/BuildArtifacts/SystemTests.html"

      - name: Upload System Tests Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: system-tests-results
          path: DevOps/BuildArtifacts/SystemTests.html

      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down
        

  code-coverage:
    name: Run Code Coverage
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run Code Coverage
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make test_biz && make test_dev && make test_drv && make cov"

      - name: Upload Code Coverage Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-results
          path: DevOps/BuildArtifacts/CodeCoverage

      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down

  docs-coverage:
    name: Run Docs Coverage
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run Docs Coverage
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make docs"

      - name: Upload Docs Coverage Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docs-coverage-results
          path: DevOps/BuildArtifacts/DocsCoverage
        
      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down

  static-analysis-python:
    name: Run Static Analysis (python)
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run Static Analysis
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make pstatic"

      - name: Upload Static Analysis (Python) Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: static-analysis-results-python
          path: DevOps/BuildArtifacts/PythonStaticAnalysis

      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down

  static-analysis-c:
    name: Run Static Analysis (cpp)
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d

      - name: Run Static Analysis
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml exec -T dev bash -c "cd /workspace/build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug .. && make cstatic"

      - name: Upload Static Analysis Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: static-analysis-results-cpp
          path: DevOps/BuildArtifacts/StaticAnalysis

      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.ci.yml down          