name: Code Coverage

on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main

jobs:
  code-coverage:
    name: Run Code Coverage (STM32)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #- name: Set up Docker Buildx
      #  uses: docker/setup-buildx-action@v3

      #- name: Install Docker Compose
      #  run: |
      #    sudo apt-get update
      #    sudo apt-get install -y docker-compose

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.yml up -d

      - name: Run Code Coverage
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make test_biz && make test_dev && make test_drv && make cov"

      - name: Upload Code Coverage Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-results
          path: DevOps/BuildArtifacts/CodeCoverage

      - name: Clean up Docker containers
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.yml down