name: Firmware STM32

on:
  workflow_run:
    workflows: ["Build Docker"]
    types: [completed]
    branches: [main, "feature/*"]

jobs:
  firmware-stm32:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: robertgawron/hardwaredatalogger/.github/workflows/docker-postbuild-generic.yml@main
    with:
      docker_image_repo: robertgawron/hardwaredatalogger
      artifact_name: firmware-stm32-results
      artifact_paths: |
        Software/STM32F103RBTx/build/stm32-release/HardwareDataLogger_STM32F103RBTx.elf
        Software/STM32F103RBTx/build/stm32-release/HardwareDataLogger_STM32F103RBTx.map
      run_script: |
        cd /workspace/Software/STM32F103RBTx
        cmake --preset stm32-release --fresh
        cmake --build --preset build-stm32-release