name: Integration Tests

on:
  workflow_run:
    workflows: ["Build Docker"]
    types: [completed]
    branches: [main, "feature/*"]

jobs:
  integration-tests:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: robertgawron/hardwaredatalogger/.github/workflows/docker-postbuild-generic.yml@main
    with:
      docker_image_repo: robertgawron/hardwaredatalogger
      artifact_name: integration-tests-results
      artifact_paths: DevOps/BuildArtifacts/IntegrationTest.html
      run_script: |
        mkdir -p /workspace/build
        cd /workspace/build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug ..
        ninja
        cd /workspace/IntegrationTest
        pytest test_*.py -s --html=/workspace/build/BuildArtifacts/IntegrationTest.html