name: Static Analysis (C++)

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches:
      - main
      - 'feature/*'

jobs:
  static-analysis-cpp:
    name: Run Static Analysis (cpp)
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.event.workflow_run.head_sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.event.workflow_run.head_sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        run: |
          docker-compose -f docker-compose.yml up -d

      - name: Run Static Analysis
        run: |
          docker-compose -f docker-compose.yml exec -T dev bash -c "cd /workspace/build && cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug .. && make cstatic"

      - name: Upload Static Analysis Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: static-analysis-results-cpp
          path: DevOps/BuildArtifacts/StaticAnalysis

      - name: Clean up Docker containers
        if: always()
        run: |
          docker-compose -f docker-compose.yml down