name: Static Analysis (Python)

on:
  workflow_run:
    workflows: ["Build Docker"]
    types: [completed]
    branches: [main, "feature/*"]

jobs:
  static-analysis-python:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: robertgawron/hardwaredatalogger/.github/workflows/docker-postbuild-generic.yml@main
    with:
      docker_image_repo: robertgawron/hardwaredatalogger
      artifact_name: static-analysis-results-python
      artifact_paths: DevOps/Artifacts/PythonStaticAnalysis
      run_script: |
        cmake -S /workspace --preset pstatic
        cmake --build --preset pstatic