name: Static Analysis (Python)

on:
  workflow_run:
    workflows: ["Build Docker"]
    types:
      - completed
    branches:
      - main
      - 'feature/*'

jobs:
  static-analysis-python:
    name: Run Static Analysis (python)
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ghcr.io/robertgawron/hardwaredatalogger:${{ github.event.workflow_run.head_sha }}
          docker tag ghcr.io/robertgawron/hardwaredatalogger:${{ github.event.workflow_run.head_sha }} hardwaredatalogger:latest

      - name: Run Docker Compose
        env:
          DOCKER_IMAGE: ghcr.io/robertgawron/hardwaredatalogger:${{ github.event.workflow_run.head_sha }}
        run: |
          docker compose -f docker-compose.yml up -d

      - name: Run Static Analysis
        run: |
          docker compose -f docker-compose.yml exec -T dev bash -c "cd /workspace && mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make pstatic"

      - name: Upload Static Analysis (Python) Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: static-analysis-results-python
          path: DevOps/BuildArtifacts/PythonStaticAnalysis

      - name: Clean up Docker containers
        if: always()
        run: |
          docker compose -f docker-compose.yml down